<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-toolbar color="#385D7B">Login Page</mat-toolbar>
        <form class="example-form" fxLayoutAlign="stretch" fxLayout="column">
          <!-- Field for user name -->
            <mat-form-field > 
              <mat-label>User name</mat-label>
              <input matInput id="username" name="username" #username>
            </mat-form-field>
          <!-- Field for password -->
            <mat-form-field >
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <button mat-button type="submit" color="warn" (click)="submit(username.value)">Login</button>
          </form>

          <mat-toolbar color="#385D7B">Languages</mat-toolbar>
          <mat-form-field appearance="fill">
            <mat-label>Language</mat-label>
            <mat-select>
              <mat-option *ngFor="let language of languages" [value]="language.value">
                {{language.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          </mat-card>
</div>